body {
    background-image: url("/img/fondo.jpg"); /* Ruta de tu imagen */
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Para que no se repita */
    background-position: center; /* Centrada en la pantalla */
}

.navbar {
    color: #acdfff
}