body {
    background-color: #4f46b438 !important;
}

/* Barra de Navegación */
.navbar-brand {
    color: #ffffff !important; 
    font-family: 'Ubuntu', sans-serif; 
}

.nav-link {
    color: #ffffff !important; 
    background-color: #130326; 
    padding: 10px 15px; /* Tamaño del botón*/
    border-radius: 5px; 
    transition: background-color 0.3s ease; /* animación cambio de color*/
}

/* Cambiar el color al pasar el mouse */
.nav-link:hover {
    background-color: #e19cfa; 
    color: #130326 !important; 
}

/* Estilo de los comentarios del carrusel */
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    padding: 30px;
    border-radius: 20px;
    max-width: 40%;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .carousel-caption h5 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px; 
  }
  
  .carousel-caption p {
    font-size: 2rem;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }

.video-opacity {
    opacity: 0.9; 
    filter: brightness(0.7); 
}

.image-opacity {
    opacity: 0.9;
    filter: brightness(0.8); 
}

/* CARDS atributos! meow*/
.card-title {
    color: #ad49d1;
    text-align: center;
    transition: transform 0.3s;
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: lighter;
}

.card-text {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
}
.card {
    border: 1px solid #a05db9;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Titulo de id contactotitle jojojo*/
#contactotitle {
    color: #77139c;
    text-align: center;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: lighter;
}

#botoncito {
    color: #ffffff;
    background-color: #b27bf6;
    border: 1px solid #b27bf6;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;  
    left: 93%;
    position: relative;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

#botoncito:hover {
    background-color: #77139c;
    border: 1px solid #77139c;
    transform: scale(1.1);
}

footer {
    background-color: #130326;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif; 
    position: relative;
}

footer a {
    text-decoration: none; 
}
